@import './components/about';
@import './components/footer';
@import './components/navbar';
@import './components/home';
@import './components/contact';
@import './components/gallery';
@import './components/services';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main__container {
    min-height: 80vh;
    background-color: rgb(101, 107, 133);
    padding: 25px;
}

