#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-control {
    width: 80%;
    margin-top: 2%;
    border: none;
    border-radius: 10px;
    line-height: 1.5rem;
    padding-left: 10px;
}

.contact__form__container {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
}
  
.submit-btn, button {
    width: 15%;
    min-width: 150px;
    background-color: rgb(144, 144, 240);
    transition: 0.7s;
    border-radius: 20px;
    border: none;
    padding: 0.5em 1.7em;
    margin: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

button {
    width: 25%;
    text-decoration: none;
    margin-top: 1px;
}
  
.submit-btn:hover, button:hover {
    background-color: rgb(48, 65, 110);
}