.main__container li{
    align-items: center;
}

h2 {
    font-size: 1.8rem;
    margin: 20px;
}
.li1 {
    font-size: 2rem;
    margin-left: 20px;
    list-style-type: none;
    font-weight: 900;
}

.li2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
    list-style-type: circle;
    text-align: left;
    margin-left: 15%;
}