.main__container li{
    
}

.li1 {
    font-size: 2rem;
    margin-left: 20px;
    list-style-type: none;
    font-weight: 900;
}

.li2 {
    font-size: 1.5rem;
    font-weight: 400;
    list-style-type: circle;
    text-align: left;
    margin-left: 15%;
}