.main__container li{
    text-align: left;
}

.li1 {
    font-size: 2rem;
    margin-left: 20px;
    list-style-type: circle;
}

.li2 {
    font-size: 1.5rem;
    margin-left: 40px;
    list-style-type: square;
}